/*
 * Elements
 */

p {
    margin: 8px 0 8px 0;
    text-align: justify;
}

a, a:visited, a:hover {
    color: #447799;
}

a {
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

p a:hover {
    text-decoration: none;
}

.no-underline-link:hover:after {
    width: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #888877;
    padding-top: 10px;
    padding-bottom: 3px;
}

h1 {
    padding-bottom: 20px;
    font-size: 1.6em;
}

h2 {
    padding-bottom: 20px;
    padding-left: 5px;
    font-size: 1.2em;
}

blockquote, pre {
    margin: 10px 20px 10px 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    color: #444455;
    background-color: #f2f2f2;
    font-family: monospace;
}

.highlighttable {
    width: 760px;
    overflow: scroll;
}

.linenodiv > pre {
    margin: 0;
    width: 30px;
    text-align: right;
}

.code {
    width: 100%;
}

.highlight > pre {
    margin-left: 2px;
    margin-right: 0;
    width: 693px;
    overflow-x: auto;
    overflow-y: hidden;
}

.sub-def {
    font-weight: normal;
    font-style: italic;
}

.biglist {
    padding: 10px;
    display: block;
    background-color: #fefefe;
    border: 1px solid #fafafa;
}

.biglist:hover {
    text-decoration: none;
    background-color: #fcfcfc;
}

.biglist > span {
    padding: 2px;
    display: block;
}

.biglist-legend {
    font-size: 0.9em;
    font-style: italic;
    color: #bbbbbb;
}

.license, .legend {
    color: #bbbbbb;
}

.report-link {
    text-align: right;
}


/*
 * Page layout
 */

html, body, .page-wrapper {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #444455;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.2em;
}

#page-header {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #ddd;
}

#page-header a {
    color: #ddd;
}

#page-header a:hover {
    text-decoration: none;
}

#page-header .active {
    background-color: #111;
}

.page-header-menu {
    margin: 0;
    padding: 0;
    width: 1000px;
    display: inline-block;
}

.page-header-menu-lst {
    margin: 0;
}

.page-header-menu-lst > li {
    padding: 0;
    display: inline-block;
}

.page-header-menu-lst > li > a {
    display: inline-block;
    padding: 15px;
    border-right: #111 1px solid;
}

.page-header-menu-lst > li:first-of-type > a {
    border-left: #111 1px solid;
}

.page-header-menu-lst > li > a:hover {
    background-color: #111;
}

.page-header-ctn, .page-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.page-main {
    width: 800px;
    order: 1;
}

.page-aside {
    width: 400px;
}

@media all and (max-width: 1200px) {
    .page-main, .page-aside {
        width: 100%;
    }

    .page-aside {
        order: 2;
    }
}

.page-component {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
}


/*
 * Form
 */

#paste-form-table {
    width: 100%;
}

#paste-form-table th:first-child {
    width: 150px;
    vertical-align: middle;
}

textarea, input[type=text], input[type=email], select {
    width: 100%;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

input[type=text], input[type=email], select {
    margin: 5px 0 5px 0;
    padding: 10px 0 10px 0;
}

input[type=submit] {
    margin: 10px 10px 10px 150px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

input[type=submit]:hover, select:hover {
    cursor: pointer;
}

#id_content {
    height: 400px;
}
