{% load static %}{% load i18n %}{% get_current_language as LANGUAGE_CODE %}{% load recent_pastes %}<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'npb/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'npb/npb.css' %}" />
        {% block headers %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header id="page-header">
            <div class="page-header-ctn">
                <div class="page-header-menu">
                    <ul class="page-header-menu-lst">
                        <li>
                            <a href="{% url 'npb:index' %}">{% trans 'New paste' %}</a>
                        </li><li>
                            <a href="{% url 'admin:index' %}">{% trans 'Admin pannel' %}</a>
                        </li><li>
                            <a href="https://github.com/breard-r/django-npb" target="_blank">{% trans 'Contribute' %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="page-wrapper">
            <section class="page-main">
                <div class="page-component">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </section>
            <section class="page-aside">
                {% recent_pastes_activated as has_recent_paste %}
                {% if has_recent_paste %}
                <div class="page-component">
                    <h2>{% trans 'Recent pastes' %}</h2>
                    <ul>
                        {% recent_pastes as recent_pastes_list %}
                        {% for paste in recent_pastes_list %}
                        <li>
                            <a class="biglist" href="{% url 'npb:show_paste' paste.pk %}">
                                {% trans "Untitled" as untitled %}
                                <span>{{ paste.title|default:untitled }}</span>
                                <span class="biglist-legend">{{ paste.created_on }}</span>
                            </a>
                        </li>
                        {% empty %}
                        <li>{% trans 'No pastes yet' %}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="page-component">
                    <p class="license">
                    {% blocktrans %}Django neo-pastebin is a free software available under the <a href="http://cecill.info/" target="_blank">CeCILL-B</a> license.<br />
                    You are free to use, edit and redistribute this software provided you properly mention the original author.{% endblocktrans %}
                    </p>
                </div>
            </section>
        </div>
    </body>
</html>
